body,html{
    padding:0;
    margin:0;
    font-family:'Oxygen', sans-serif;
    text-align:center;
}

/* HEADER */
header {
    text-align:center;
    width:100%;
}

nav a{
    color:black;
    font-size:16px;
    font-weight:bold;
    text-transform:uppercase;
    letter-spacing: 1px;
}

nav a:hover{
    color:#11763c;
}

header hr{
    width:100%;
}

/* FOOTER */

footer{
    background-color: #6cac20;
}

.footercontent{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
}

.box1, .box2, .box3{
  color:white;
  text-align:center;
}


#titreformulaire{
    margin: auto;
    font-weight: bold;
    color : green;
    text-align: center;
}

.bouton {
    display:block;
    width:100px;
    line-height:25px;
    text-align:center;
    vertical-align:middle;
    border-radius: 8px;
}

.boutonvert{
    background-color:green;
    color:white;
    text-decoration:none;
    border-collapse: collapse;
    border-color: green;

} 

#confirmation{
    width:200px;
    line-height:40px;
    font-size: medium;
    margin: auto;
}
