body,html{
    padding:0;
    margin:0;
    font-family:'Oxygen', sans-serif;
}

/* HEADER */
header {
    text-align:center;
    width:100%;
}

nav a{
    color:black;
    font-size:16px;
    font-weight:bold;
    text-transform:uppercase;
    letter-spacing: 1px;
}

nav a:hover{
    color:#11763c;
}

header hr{
    width:100%;
}

/* FOOTER */

footer{
    background-color: #6cac20;
}

.footercontent{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
}

.box1, .box2, .box3{
  color:white;
  text-align:center;
}

hr{
    color:#6cac20;
    width:30%;
}

a{
    text-decoration:none;

}

h3{
    color: green;
    text-align: center;
    font-size:35px;
} 
table : td {
    text-align: center;
}
#panier
{
 margin: auto;
 border: 2px ;
 border-collapse : collapse;
 border-color: rgb(255, 242, 208);
} 


#panier tr:nth-child(even) {
    background: rgb(255, 242, 208);
} 
#panier tr:nth-child(odd) {
    background: white;
} 

#boutonValidation {
    margin: auto;
}
#listeProd {
    widht : 40%;
}

.bouton {
    display:block;
    width:100px;
    line-height:25px;
    text-align:center;
    vertical-align:middle;
    border-radius: 8px;
}

.boutonvert{
    background-color:green;
    color:white;
    text-decoration:none;
    border-collapse: collapse;
    border-color: green;

} 

.boutonblanc{
    background-color:white;
    color:grey;
    text-decoration:none;
    border-color: grey;
    border-collapse: collapse;
} 

#boutonValidation{
    width:200px;
    line-height:50px;
} 
#boutonValidation a {
    color: white;
    text-decoration: none;
} 


.quantity {
    text-align: center;
} 
#removeBouton{
    margin: auto;
} 



.bouton {
    display:block;
    width:100px;
    line-height:25px;
    text-align:center;
    vertical-align:middle;
    border-radius: 8px;
}

.boutonvert{
    
        display:block;
        margin-left:auto;
        margin-right:auto;
    
        font-size:18px;
        color:white;
        height:20%;
        background-color:#6cac20;
        border-radius:2px;
        border:none;
        box-shadow: 1px 1px 3px black;
        height:40px;
        width:120px;
    
    }
    
.boutonvert:hover{
        background-color:#05a44b;
        cursor:pointer;
    }

} 

.boutonblanc{
    background-color:white;
    color:grey;
    text-decoration:none;
    border-color: grey;
    border-collapse: collapse;
} 

#boutonValidation{
    width:200px;
    line-height:50px;
} 
#boutonValidation a {
    color: white;
    text-decoration: none;
} 


.quantity {
    text-align: center;
} 
#removeBouton{
    margin: auto;
} 

.tableauProduits th{   
    background-color:#6cac20;
    color:white;} 

.tableauProduits{border-collapse: collapse;
    border:2px solid black;
    margin:30px;} 
