main{
    padding:0;
    margin:0;
    font-family:'Oxygen', sans-serif;
    text-align:center;
}

/* HEADER */
header {
    text-align:center;
    width:100%;
}

nav a{
    color:black;
    font-size:16px;
    font-weight:bold;
    text-transform:uppercase;
    letter-spacing: 1px;
}

nav a:hover{
    color:#11763c;
}

header hr{
    width:100%;
}

/* FOOTER */

footer{
    background-color: #6cac20;
}

.footercontent{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
}

.box1, .box2, .box3{
  color:white;
  text-align:center;
}

hr{
    color:#6cac20;
    width:30%;
}

a{
    text-decoration:none;

}




.gauche {float: center;
	vertical-align: middle;	
	margin: 10px;	
}

p {
	text-align: center;
}

form {
	margin: 5px;
}

h1{color:green;
font-size:35px;}

.conteneur img{
    width:300px;
    height:300px;
    border-radius:200px;
    border:1px solid #80a138;
}

.conteneur img:hover {
    transition: 0.5s;
    box-shadow: 2px 10px 3px #6cac20;
    transform: scale(1.1);
}

button{
    display:block;
    margin-left:auto;
    margin-right:auto;

    font-size:16px;
    color:red;
    height:20%;
    background-color:yellow;
    border-radius:2px;
    border:none;
    box-shadow: 1px 1px 3px black;
    height:40px;
    width:120px;

}

button:hover{
    background-color:#05a44b;
    cursor:pointer;
}

input{    display:block;
    margin-left:auto;
    margin-right:auto;

    font-size:16px;
    color:white;
    height:20%;
    background-color:green;
    border-radius:2px;
    border:none;
    box-shadow: 1px 1px 3px black;
    height:40px;
    widows: 150px;
} 

input:hover{
    background-color:#05a44b;
    cursor:pointer;
}

select{    display:inline;
    margin-left:auto;
    margin-right:auto;

    font-size:16px;
    color:black;
    height:20%;
    background-color:white;
    border-radius:2px;
    border:none;
    box-shadow: 1px 1px 3px black;
    height:40px;
    widows: 150px;} 
