body,html{
    padding:0;
    margin:0;
    font-family:'Oxygen', sans-serif;
    text-align:center;
}

/* HEADER */
header {
    text-align:center;
    width:100%;
}

nav a{
    color:black;
    font-size:16px;
    font-weight:bold;
    text-transform:uppercase;
    letter-spacing: 1px;
}

nav a:hover{
    color:#11763c;
}

header hr{
    width:100%;
}

/* FOOTER */

footer{
    background-color: #6cac20;
}

.footercontent{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
}

.box1, .box2, .box3{
  color:white;
  text-align:center;
}

hr{
    color:#6cac20;
    width:30%;
}

a{
    text-decoration:none;

}




.gauche {float: left;
	vertical-align: middle;	
	margin: 10px;	
}

p {
	text-align: justify;
}

form {
	margin: 5px;
}
